<body id = shops_list>
  <% if @shops&.any? %>
    <div class="pagination">
      <%= paginate @shops %>
    </div>
    <div id ="shops">
      <section class="shop search-header">
        <div id="nav-search">
          <div class="form-group">
            <%= form_with method: :get, url: shops_path, local: true do |f| %>
              <p>
                <%= f.label :freeword, 'フリーワード' %>
                <%= f.text_field :search %>
                <%= f.submit "検索", :freeword => nil, class: "btn btn-primary" %>
              </p>

              <%= f.label :category_l_code, 'カテゴリ' %>
              <%= f.collection_select :category_l_code, @categorys, :category_l_code, :category_l_name, :include_blank => true %>
             <br>
              <%= f.label :areacode_l, 'エリア' %>
              <%= f.collection_select :areacode_l, @areal, :areacode_l, :areaname_l, :include_blank => true , class: 'form-control'%>
          
              <br>
              <%= f.label :wifi, class: "checkbox inline" do %>
                <%= check_box_tag :wifi %>
                <span>WiFiあり</span>
              <% end %>
              
              <%= f.label :outret, class: "checkbox inline" do %>
                <%= check_box_tag :outret %>
                <span>電源あり</span>
              <% end %>
              
              <%= f.label :takeout, class: "checkbox inline" do %>
                <%= check_box_tag :takeout %>
                <span>テイクアウト可</span>
              <% end %>
            <% end %>
          </div>
        </div><!-- nav-search -->
         
      </section>
      <%= render 'shops/shops', shops: @shops %>
    </div>
  <% end %>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
  <script>
    window.onload = function() {
      new Masonry('body', {
        itemSelector: '.shop',
        gutter: 4
      });
    };
  </script>
</body>