<body id = shops_list>
  <div class="shops">
    <% if @shops&.any? %>
      <% @shops.each do |shop| %>
        <div class="shop">
          <% if shop.image_url == '{}' %>
            <div class ="nothing_image">
              No image
            </div>
          <% else %>
            <div class="pr_image">
              <%= image_tag shop.image_url %>
            </div>
          <% end %>

          <div class="pr">
            <br>店舗名： <%= link_to shop.name, shops_path(shop_code: shop.shop_code), method: :post %>
            <br>住所： <%= shop.address %>
            <br>電話番号： <%= shop.tel%>
            <br>営業時間： <%= simple_format(shop.opentime) %>
            休み： <%= simple_format(shop.holiday) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</body>