<body id = shops_list>
  <% if @shops&.any? %>
    <div class="pagination">
      <%= paginate @shops %>
    </div>
    <div id ="shops">
      <section class="shop search-header">
        <div id="nav-search">
          <div class="form-group">
            <%= form_tag '/shops', :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "検索", :freeword => nil, class: "btn btn-primary" %>
              </p>
              
              <%= label_tag :wifi, class: "checkbox inline" do %>
                <%= check_box_tag :wifi %>
                <span>WiFiあり</span>
              <% end %>
              <br>
              <%= label_tag :outret, class: "checkbox inline" do %>
                <%= check_box_tag :outret %>
                <span>電源あり</span>
              <% end %>
              <br>
              <%= label_tag :takeout, class: "checkbox inline" do %>
                <%= check_box_tag :takeout %>
                <span>テイクアウト可</span>
              <% end %>
            <% end %>
          </div>
        </div><!-- nav-search -->
      </section>
      <%= render 'shops/shops', shops: @shops %>
    </div>

  <% end %>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
  <script>
    window.onload = function() {
      new Masonry('body', {
        itemSelector: '.shop',
        gutter: 4
      });
    };
  </script>
</body>