<body id = shops_list>
  <div class="shops row">
    <div class="col-sm-10 offset-1">
      <% if @shops&.any? %>
      <%= paginate @shops %>
        <% @shops.each do |shop| %>
          <div class="shop">
            <% if shop.image_url == '{}' %>
              <div class ="nothing_image">
                No image
              </div>
            <% else %>
              <div class="pr_image">
                <%= image_tag shop.image_url %>
              </div>
            <% end %>
  
            <div class="shop_pr">
              <br>店舗名： <%= link_to shop.name, shops_path(shop_code: shop.shop_code), method: :post %>
              <br><%= shop.pr %>
              <br><%= shop.line %><%= shop.station %>
              <% if !shop.station_exit = '{}' %>
                <%= shop.station_exit %>
              <% end %>
              徒歩<%= shop.walk %>分
              
              <br>営業時間： <%= simple_format(shop.opentime) %>
              休み： <%= simple_format(shop.holiday) %>
              平均予算： <%= shop.budget %>円
            </div>
          </div>
        <% end %>
        <div class="pagination">
          <%= paginate @shops %>
        </div>
      <% end %>
    </div>
  </div>
</body>