<body id = "shop_shop">
  <div class ="nav shop_show">
    <div class="col-sm-4 shop-rest">
      店舗名：<%= link_to @shop.name, @shop.shop_url %>
     
      <% if @shop.image_url == '{}' %>
        <div class="no_image">
          <p>No image</p>
        </div>
      <% else %>
        <div class="shop-topimage">
          <br><br> <%= image_tag @shop.image_url, alt: @shop.name + "写真" %>
        </div>
      <% end %>
      <%= render "favorite_shops/favorite_shops", shop: @shop %>
      <br><%= @shop.pr %>
      <br><br>住所: <%= @shop.address %>
      <br><br>電話番号: <%= @shop.tel %>
      <br><br>営業時間：<%= @shop.opentime %>
      <br><br>休日 : <%== @shop.holiday %>
      <br><br>平均予算： <%= @shop.budget %>円
    </div>
    
    <div class="col-sm-6 offset-2">
      <%= link_to '投稿', new_shop_post_path(@shop.id) , class: "btn btn-primary btn-sm btn5" %>
      <div class "posts">
        <%= render 'posts/posts', posts: @posts %>
      </div>
    </div>
  </div>
</body>