<body id = "shop_shop">
  <div class ="nav shop_show">
    <div class="col-sm-4">
      店舗名：<%= link_to @shop.name, @shop.shop_url %>
      <br><br><%= image_tag @shop.image_url, alt: @shop.name + "写真" %>
      <br><br>住所: <%= @shop.address %>
      <br><br>電話番号: <%= @shop.tel %>
      <br><br>営業時間：<%= @shop.opentime %>
      <br><br>休日 : <%= @shop.holiday %>
    </div>
    
    <div class="col-sm-6 offset-2">
      <%= link_to '投稿', new_shop_post_path(@shop.id) , class: "btn btn-primary btn-sm btn5" %>
      <div class "posts">
        <% if @shop.posts.count > 0 %>
          <% @shop.posts.each do |post| %>
            <div class="food_image">
              <% if post.image? %>
                <%= link_to post do %>
                  <%= image_tag post.image.url %>
                <% end %>
              <% end %>
            </div><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>