<body id = "shop_shop">
  <div class ="nav shop_show">
    <div class="col-sm-4">
      店舗名：<%= link_to @shop.name, @shop.shop_url %>
     
      <% if @shop.image_url == '{}' %>
        <div class="no_image">
          <p>No image</p>
        </div>
      <% else %>
         <br><br> <%= image_tag @shop.image_url, alt: @shop.name + "写真" %>
      <% end %>
    
      <br><br><%= @shop.pr %>
      <br><br>住所: <%= @shop.address %>
      <br><br>電話番号: <%= @shop.tel %>
      <br><br>営業時間：<%= @shop.opentime %>
      <br><br>休日 : <%= @shop.holiday %>
    </div>
    
    <div class="col-sm-6 offset-2">
      <%= link_to '投稿', new_shop_post_path(@shop.id) , class: "btn btn-primary btn-sm btn5" %>
      <div class "posts">
        <% if @shop.posts.count > 0 %>
          <div class=" flex-container">
            <% @shop.posts.each do |post| %>
              <div class="food_image, flex-item">
                <% if post.image? %>
                  <%= link_to post do %>
                    <%= image_tag post.image.url %>
                  <% end %>
                  <br><%= link_to post.user.name, user_path(post.user) %>
                <% end %>
              </div><br>
            <% end %>
          </div>
        <% else %>
          <div class="no_post">
            <h2>投稿がありません</h2>
          </div>    
        <% end %>
      </div>
    </div>
  </div>
</body>