<body id = "user_show">
  <div class="row user_information">
    <div class = "col-sm-3">
      <div class="name">
        <h2><%= @user.name %></h2>
      </div>
      <div class="image ">
        <% if @user.image? %>
          <%= image_tag @user.image.url %>
        <% else %>
          <%= image_tag("/images/icon/no-image.png") %>
        <% end %>
        </div>
        <br>
        <%= link_to "画像を変更する", edit_user_path(@user), class: "btn btn-primary btn1" %>
    </div>

    <div class="col-sm-8 offset-sm-1">
      <ul class="nav nav-tabs nav-justified mb-1">
        <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿 <span class="badge badge-secondary"></span></a></li>
        <li class="nav-item"><a href="#" class="nav-link">いいね</a></li>
      </ul>
      
      <% if @user.posts.count > 0 %>
        <%= @user.posts.each do |post| %>
          <div class="food">
            <% if post.image? %>
              <%= link_to post do %>
                <%= image_tag post.image.url %>
              <% end %>
            <% end %>
          </div><br>
        <% end %>
      <% else %>
        <h2>投稿がありません</h2>
      <% end %>
    </div>
  </div>
</body>
