<body id = "index">
  <div class="text-center toppage">
    <div class = "toppage-coment">
      <h1>ようこそFooTanへ</h1>
      <h3>
        フリーワードやカテゴリ、都道府県を組み合わせて検索することができます<br>
        最後に美味しかった料理などを投稿してそのお店の情報を共有しましょう！
      <% if !logged_in? %>
        <h3>ログインすると便利機能が使えます</h3>
      <% end %>
        <br><br>
    </div>
    <div id="nav-search">
      <div class="form-group">
        <%= form_with method: :get, url: random_path, local: true do |f| %>
          <p>
            <%= f.label :freeword, 'フリーワード' %>
            <%= f.text_field :search %>
            <%= f.submit "ランダム検索", :freeword => nil, class: "btn btn-primary" %>
          </p>

          <%= f.label :category_l_code, 'カテゴリ' %>
          <%= f.collection_select :category_l_code, @categorys, :category_l_code, :category_l_name, :include_blank => true, class: 'form-control' %>
          <br>
          <%= f.label :pref_code, '都道府県' %>
          <%= f.collection_select :pref_code, @prefs, :pref_code, :pref_name, :include_blank => true , class: 'form-control'%>
          
          <br>
          <%= f.label :wifi, class: "checkbox inline" do %>
            <%= check_box_tag :wifi %>
            <span>WiFiあり</span>
          <% end %>
          
          <%= f.label :outret, class: "checkbox inline" do %>
            <%= check_box_tag :outret %>
            <span>電源あり</span>
          <% end %>
          
          <%= f.label :takeout, class: "checkbox inline" do %>
            <%= check_box_tag :takeout %>
            <span>テイクアウト可</span>
          <% end %>
        <% end %>
      </div>
    </div><!-- nav-search -->

    <div class = "category-top">
        <div class ="mask">
            <div class="caption">通常検索</div>
        </div>
        <%= link_to root_path do%>
            <%= image_tag "line_61429260988960.jpg", class: "category-btn"  %>
        <% end %>
    </div>
    <br>
    <% if logged_in? %>
        <div class = "category-top">
            <div class ="mask">
            <div class="caption">お気に入りからランダムに選ぶ</div>
            </div>
            <%= link_to like_shops_user_path(current_user) do%>
            <%= image_tag "businessman-on-smartphone.jpg", class: "category-btn"  %>
            <% end %>
        </div>
    <% end %>
  </div>
</body>